.formContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
    
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formWrapper .logo {
    color: #5f5af1;
    font-weight: bold;
    font-size: 24px;

}

.formWrapper .title {
    color: #5d5b8d;
    font-size: 12px;
}

.formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}

.formWrapper form input {
    padding: 15px;
    border: none;
    width: 250px;
    border-bottom: 1px solid #a7bcff;
    outline: none;
}

.formWrapper form input::placeholder {
    color: rgb(175, 175, 175);
}

.formWrapper form button {
    background-color: #e54750;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.formWrapper form label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #688afb;
    font-size: 12px;
    cursor: pointer;
}
.formWrapper form label img {
    width: 32px;
  }
  .formWrapper p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
  }