.home {
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .container {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border: 1px solid white;
    border-radius: 10px;  
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}